@model Movie

<div class="card-body">
    <h5 class="card-title">@Model.Title</h5>
    <p class="card-text">@Model.Description</p>
    <p class="card-text">@Model.Director</p>
    <p class="card-text">
        <ul>
            @foreach (var item in Model.Cast)
            {
            <li>@item</li>            
            }
        </ul>
    </p>

</div>