<nav class="navbar navbar-expand-lg navbar-dark bg-danger">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <a class="navbar-brand" href="#">Navbar</a>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link active" aria-current="page" href="/Movies/List">Movies</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Home/About">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Movies/Index1">Index1</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Movies/Index">Index</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Movies/Create">Create</a>
                </li>
            </ul>
        </div>
        <form action="/Movies/List" method="get" class="form-inline">
    <input type="text" name="q" placeholder="Film Ara" class="form-control mx-2" />
    <button type="submit" class="btn btn-outline-light mr-0">Ara</button>
</form>
    </div>
</nav>